/* App.css */
.App {
  display: flex;
  flex-direction: column;
  min-height: 10vh;
}

main {
  flex: 1;
  /* This allows the main content to grow and take up the remaining space */
}

footer {
  margin-top: auto;

}